<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
            </button>
            <a class="navbar-brand text-capitalize" href="#">Hi {{username}}!</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#!/login">Logout</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<!-- Body Part -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Photo Gallery</h1>
        </div>
    </div>
    <div><h2><span ng-show="search_text">Results for {{search_text}}</span></h2></div>
    <div class="row">
        <div class="col-lg-12">
            <form class="form-inline" role="form">
                <div class="form-group">
                    <input class="form-control" id="flickr-search" placeholder="search" ng-model="search_text">
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-default" id="flickr-search-button"
                            ng-click="vm.loadFlickerImages(search_text)">Search
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="flickr-photos">
            <img ng-if="vm.dataLoading"
                 src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
            <div ng-hide="loading" class="flickr-photo"
                 style="display: inline-block; width: 75px;border: 1px solid #cccccc;margin: 5px;height: 75px;background-position: center;"
                 ng-repeat="pic in pics"><a ng-href="#/{{photo.id}}"><img
                    ng-src="http://farm{{pic.farm}}.static.flickr.com/{{pic.server}}/{{pic.id}}_{{pic.secret}}_s.jpg"><img
                    ng-src="{{pic.media.s}}"></a></div>
        </div>
    </div>
</div>